@import url('https://fonts.googleapis.com/css?family=Croissant+One|Open+Sans|Open+Sans+Condensed:300|Chivo|Quicksand&display=swap');

.background {
    background-image:linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.3)), url('./images/mountains_and_lake.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    overflow: scroll;
    height: 100vh;
    width: 100vw;
}

.title {
    font-family: 'Open Sans';
    font-size: 40px;
    padding: 20px;
    z-index: 1;
    width: fit-content;
    height: fit-content;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 10px;
    margin-left: 10px;
    margin-top: 10px
}

.googleButton {
    padding: 20px;
    margin-bottom: 10px;
}

.postingContainer {
    width: fit-content;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.6);
    margin-left: 10px;
    margin-top: 20px;
    border-radius: 10px;
}

.postContainer {
    width: 50vw;
    height: fit-content;
    font-family: 'Open Sans';
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 10px;
    position: relative;
}

.postTitle {
    font-size: 20px;
}

.postBody {
    font-size: 12px;
    white-space: pre-wrap;
}

.postDate {
    color: gray;
    font-size: 10px;
    padding-bottom: 10px;
}

.editButton button {
    font-family: 'Open Sans';
    color: gray;
    font-size: 10px;
    position: absolute;
    border-style: none;
    fill-opacity: 0;
    border-radius: 10px;
    text-decoration: underline;
}

.editButton button:hover {
    cursor: pointer;
}

.editButton {
    float: right;
    margin-right: 60px;
}

.deleteButton button {
    font-family: 'Open Sans';
    color: gray;
    font-size: 10px;
    position: absolute;
    border-style: none;
    fill-opacity: 0;
    border-radius: 10px;
    text-decoration: underline;
}

.deleteButton button:hover {
    cursor: pointer;
}

.deleteButton {
    float: right;
    margin-right: 30px;
}

